@{
	ViewBag.Titulo = "Visualização de Contas";
}

@model VisualizarContasViewModel;

<a class="btn btn-primary" asp-action="Abrir">
    <i class="bi bi-plus"></i>
    Abrir nova
</a>

<div class="row mt-4">
    @foreach (DetalhesContaViewModel c in Model.Registros)
    {
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@c.Titular</h5>
                    <p class="card-text mb-0"><strong>Mesa:</strong> #@c.Mesa</p>
                    <p class="card-text mb-0"><strong>Garçom:</strong> @c.Garcom</p>

                    @if (c.EstaAberta)
                    {
                        <span class="d-flex gap-1 justify-content-end mt-4">
                            <a title="Gerenciar pedidos" asp-action="GerenciarPedidos" asp-route-id="@c.Id" style="height: 35px; width: 35px;" class="btn btn-primary rounded-circle d-flex justify-content-center align-items-center">
                                <i class="bi bi-cart"></i>
                            </a>
                            <a title="Fechar conta" asp-action="Fechar" asp-route-id="@c.Id" style="height: 35px; width: 35px;" class="btn btn-success rounded-circle d-flex justify-content-center align-items-center">
                                <i class="bi bi-cash-coin"></i>
                            </a>
                        </span>
                    }
                </div>
            </div>
        </div>
    }
</div>