@{
	ViewBag.Titulo = "Visualização de Mesas";
}

@model VisualizarMesasViewModel;

<a class="btn btn-primary" href="/Mesa/Cadastrar">
    <i class="bi bi-plus"></i>
    Cadastrar novo/a
</a>

<div class="row g-3 mt-4">
    @foreach (DetalhesMesaViewModel m in Model.Registros)
    {
        <div class="col-md-4 col-lg-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title"># @m.Numero</h5>
                    <p class="card-text mb-0"><strong>Capacidade:</strong> @m.Capacidade lugar(es)</p>
                </div>

                <div class="card-actions ms-auto me-3 mb-3 d-flex gap-1">
                    <a class="btn btn-sm btn-primary rounded-circle d-flex justify-content-center align-items-center" style="height: 35px; width: 35px;" href="/Mesa/Editar/@m.Id">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a class="btn btn-sm btn-danger rounded-circle d-flex justify-content-center align-items-center" style="height: 35px; width: 35px;" href="/Mesa/Excluir/@m.Id">
                        <i class="bi bi-trash2"></i>
                    </a>
                </div>
            </div>
        </div>
    }
</div>